.switcher {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0px;
  }

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -appearance: none;
  }

  &__picture {
    position: absolute;

    width: 12px;
    height: 12px;

    background-color: #dddddd;

    border-radius: 50%;
  }

  &__input:checked + &__picture {
    background-color: #b5b6bc;
  }
}
